IRIDIUM_GMDSS_LRIT/IRIDIUM_GMDSS_LRIT.Forwarder.Conformance2020/Connected Services/Conformance2020DataService/Conformance2020Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LRIT.ASP.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LRIT.ASP.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASPTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="COG" type="xs:double" />
      <xs:element minOccurs="0" name="CSPTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DCTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayTimeZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceSinceLastReport" type="xs:double" />
      <xs:element minOccurs="0" name="IMONum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="KeyValueWeatherInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LRITMessageIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LatitudeWGS84" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="LongitudeWGS84" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOD" type="xs:double" />
      <xs:element minOccurs="0" name="SOG" type="xs:double" />
      <xs:element minOccurs="0" name="TerminalTimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>