IRIDIUM_GMDSS_LRIT/IRIDIUM_GMDSS_LRIT.Forwarder.Conformance2020/Connected Services/Conformance2020DataService/Conformance2020Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://myanmardof.ivats.com/CONFORMANCE2020.Receiver.Service/Conformance2020Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LRIT.ASP.Data" />
  <xs:import schemaLocation="http://myanmardof.ivats.com/CONFORMANCE2020.Receiver.Service/Conformance2020Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Conformance._2020.Lib.Inf" />
  <xs:element name="AddPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LRIT.ASP.Data" minOccurs="0" name="position" nillable="true" type="q1:Position" />
        <xs:element minOccurs="0" name="shipbornEquipmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Conformance._2020.Lib.Inf" minOccurs="0" name="AddPositionResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>