IRIDIUM_GMDSS_LRIT/IRIDIUM_GMDSS_LRIT.Forwarder.LRIT/Connected Services/LRITDataService/ASPDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LRIT.ASP.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LRIT.ASP.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>