IRIDIUM_GMDSS_LRIT/IRIDIUM_GMDSS_LRIT.AdminWebUI/Connected Services/IridiumGmdssLritWcfService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IRIDIUM_GMDSS_LRIT.Core.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IRIDIUM_GMDSS_LRIT.Core.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GatewayServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="gatewayResponse" type="tns:Response" />
      <xs:element minOccurs="0" name="isSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GatewayServiceResponse" nillable="true" type="tns:GatewayServiceResponse" />
  <xs:simpleType name="Response">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AuthenticationFail" />
      <xs:enumeration value="AccessDeny" />
      <xs:enumeration value="NotActive" />
      <xs:enumeration value="TerminalNotFound" />
      <xs:enumeration value="TerminalStatusError" />
      <xs:enumeration value="InValidData" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>